/* css Kurt's */

body { 
	font: georgia, sans-serif;
	color: #000000; 
	margin: 0; 
	background-color: white;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}

.title {
    color: white;
    background-color: rgb(234, 46, 73);
    height: 200px;
    font-size: 50px;
	}

.sidebar {
    color: grey;
    background-color: white;
    height: 200px;
    font-size: 12px;
    }

.card {
    display: inline-block;
    height: 200px;
    width: 16%;
    margin: 0;
}

img {
    height: 200px;
}


.country-sidebar {
    display:inline-block;
}

.country-container {
    display:inline-block;
}

#titletext {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

#catchphrase {
    text-align: center;
    margin: 0.5em;
    margin-bottom: 2.25em;
}

#explanation-steps {
    padding: 0.5em;
    text-align: center;
    border-style: solid;
    background-color: #BDEAFF;
    /*FFC55E B27D1E 5EA9FF 78B7FF 306DB2*/
}

#explanation-header {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#explanation-text {
    padding-top: 0.75em;
    padding-bottom:0.75em;
    text-align: center;
}

#getwayable-list {
    text-align: center;
}

#city-list {
    margin:0;
    padding:0;
    text-align: center;
}

#country-list {
    padding: 1em;
}

#thursday-pm, #Friday-allday, #Sunday-allday {
    border-spacing: 0;
    overflow: hidden;
    table-layout: fixed;
    border-collapse: separate;
    border-color: grey;
    font-size: small;
    font-family: arial,sans-serif;
    line-height: 1.2;
    text-align: left;
    font-weight: normal;
    color: #222;
  
}
